html, body{
  height: 100%
}

body{
  background-color: #f5f5f5!important;
  display: flex;
  align-items: center;
}

.main{
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  min-height: 800px;
  box-sizing: border-box;
  padding: 3rem;
  box-shadow:  0px 0px 2px 0px rgba(0,0,0,0.4);
}

.item{
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease-out;
}

.item:hover{
  background-color: #f5f5f5;
}

.alert{
  animation: shw 0.4s;
  animation-fill-mode: both;
}

@keyframes shw{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
