<html>
  <head>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <h1>Mirko's Spaghetti Buckets</h1>
    {% block body %}
    {% endblock %}

    <!-- JAVASCRIPT -->
    <script>window.context={{js_context|default({}, true)|tojson}}</script>

    {% block js %}
    {% endblock %}
  </body>
</html>
