{% extends 'base.html' %}

{% block body %}
  <h2>Edititng {{bucket.name}}</h2>

  <div id="APP">
    <p>This bucket uses the following ingredients:</p>
    <ul>
      {% for i in bucket.ingredients %}
        <li>{{i}}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
