.Ingredient{
  padding: 4px;
  border: 1px solid #ddd;
  background-color: white;
  margin: 2px;
}

.Ingredient:hover{
  cursor: pointer;
  background-color: #ddd;
}

.Bucket{
  border: 8px solid black;
  border-top: none;
  padding: 20px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.InBucket{
  font-weight: 800;
  padding: 4px;
  color: white;
  font-family: sans-serif;
  border-radius: 4px;
  background-color: #333;
  margin: 4px;
  cursor: pointer;
}

.Available{
  max-width: 200px;
}


#APP {
  display: flex;
  align-items: flex-end;
}

#APP>*{
  flex: 1 1 0;
}
