{% if css %}
<!-- TRANSPILED CSS -->
<% for (var i=0; i< htmlWebpackPlugin.files.css.length; i++) { %>
<% var file = htmlWebpackPlugin.files.css[i].split('?') %>
<link rel="stylesheet" href="{{ url_for('static', filename='<%= file[0]%>') }}?<%= file[1] %>"/>
<% } %>
{% else %}
<!-- TRANSPILED JS -->
<% for (var i=0; i< htmlWebpackPlugin.files.js.length; i++) { %>
<% var file = htmlWebpackPlugin.files.js[i].split('?') %>
<script src="{{ url_for('static', filename='<%= file[0]%>') }}?<%= file[1] %>"></script>
<% } %>
{% endif %}
